#!/usr/bin/env python
PACKAGE = "pepper_planning_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("pitch_range", double_t, 0, "A double parameter",     .3, 0,   1)
gen.add("pitch_offset", double_t, 0, "A double parameter",    .3, 0,   1)
gen.add("yaw_range", double_t, 0, "A double parameter",        1, 0,   1)

exit(gen.generate(PACKAGE, PACKAGE, "PepperPlanningControl"))
