<launch>
  <arg name="semantic_map_name"/>
  <arg name="goal_config_file" default="$(find pepper_goal_server)/conf/goals.yaml"/>
  <arg name="control_config_file" default="$(find pepper_control)/conf/goals.yaml"/>
  
  <include file="$(find pepper_goal_server)/launch/pepper_goal_server.launch">
    <arg name="semantic_map_name" value="$(arg semantic_map_name)" />
    <arg name="config_file" value="$(arg goal_config_file)" />    
  </include>
  <include file="$(find pepper_control)/launch/pepper_control.launch">
    <arg name="config_file" value="$(arg control_config_file)" />    
  </include>

</launch>
