<launch>
  <arg name="goal_config_file" default="$(find pepper_goal_server)/conf/goals.yaml"/>
  <arg name="control_config_file" default="$(find pepper_planning_control)/conf/goals.yaml"/>
  <arg name="localisation_dir" default=""/>
  <arg name="logo_app" default="showmummerlogo-a897b8/behavior_1"/>
  <arg name="once" default="false"/>
  
  <include file="$(find pepper_goal_server)/launch/pepper_goal_server.launch">
    <arg name="config_file" value="$(arg goal_config_file)" />    
  </include>
  <include file="$(find pepper_planning_control)/launch/pepper_planning_control.launch">
    <arg name="config_file" value="$(arg control_config_file)" />    
    <arg name="localisation_dir" value="$(arg localisation_dir)" />
    <arg name="logo_app" value="$(arg logo_app)" />
    <arg name="once" value="$(arg once)" />
  </include>

</launch>
